/* Media queries */
@media only screen and (min-width: 480px) and (max-width: 684px) {
  .col-2-3 {
    width: $col-width * 3;
  }
  .col-1-3 {
    width: $col-width * 3;
  }
  .col-push-2 {
    left: 0;
  }
  #featured {
    position: relative;
  }
} /* end 480-767 */
